* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	/* background-color: hsl(240, 75%, 98%); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.btn {
	width: 100%;
	padding: 0.75rem;
	color: white;
	border: none;
	outline: none;
	border-radius: 0.5rem;
	background-color: white;
	box-shadow: 0 4px 0.1rem hsl(218, 22%, 90%);
	text-align: center;
	display: block;
	text-decoration: none;
}

.container {
	max-width: 1200px;
	width: 100%;
}

.form-group {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.primary-heading {
	line-height: 2.5rem;
	color: hsl(243, 87%, 12%);
}

.primary-info {
	line-height: 1.5rem;
	color: hsl(238, 22%, 44%);
	font-size: 1rem;
}

.primary-input {
	padding: 0.75rem 1rem;
	border-radius: 0.25rem;
	outline: 0;
	border: 1px solid hsl(238, 22%, 44%);
	color: hsl(238, 22%, 44%);
	font-size: 0.9rem;
	background-color: transparent;
}

.primary-input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: hsl(0, 0%, 75%);
	opacity: 1; /* Firefox */
}

.primary-input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: hsl(0, 0%, 75%);
}

.primary-input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: hsl(0, 0%, 75%);
}

.primary-link {
	color: hsl(170, 45%, 43%);
	line-height: 1.5rem;
	text-decoration: none;
	border-bottom: 1px solid hsl(170, 45%, 43%);
	padding-bottom: 0.15rem;
	font-size: 0.8rem;
}

.flex-2 {
	flex: 2;
}

.flex-1 {
	flex: 1;
}

.m-t--xx-large {
	margin-top: 2rem;
}

.m-r--medium {
	margin-right: 1rem;
}

/* Laptop: 1024px */
@media only screen and (max-width: 1024px) {
	/* .primary-heading {
		font-size: 1.25rem;
		line-height: 2rem;
	} */
}

/* Tablet: 768px */
@media only screen and (max-width: 768px) {
	.primary-info {
		line-height: 1.25rem;
		font-size: 0.8rem;
	}
}

/* Mobile-Large: 425px */
@media only screen and (max-width: 425px) {
}

/* Mobile-Medium: 375px */
@media only screen and (max-width: 375px) {
}

/* Mobile-Small: 320px */
@media only screen and (max-width: 320px) {
}
